<!-- <div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
    </header>
  </div>

  <div *ngFor="let userFormDataGroup of formDataByUsernameEmailAndForm">
    
    <h2>{{ userFormDataGroup.usernameEmailKey.split('_')[0] }}</h2>
    <table>
      <thead>
        <tr>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ userFormDataGroup.usernameEmailKey.split('_')[1] }} </td>
        </tr>
      </tbody>
    </table>
    <ul>
      <ng-container *ngFor="let formDataGroup of userFormDataGroup.formDataGroups">
        <li>
          <h3>{{ formDataGroup.form?.formName }} </h3>
          <ul>
            <ng-container *ngFor="let userFormData of formDataGroup.users">
              <li *ngFor="let fieldData of userFormData.fieldData">
                {{ fieldData.fieldLabel }}: {{ fieldData.value }}
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
   -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>DataTables</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">DataTables</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<div *ngFor="let formName of getObjectKeys(groupedData)" class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">
          <a [routerLink]="['/form-details', formName]">FORM: {{ formName }}</a>
        </h2>
        <p>Available Places: {{ formPlacesDisp[formName] }}</p>
      </div>
      <!-- /.card-header -->

      <div *ngFor="let userEmail of getObjectKeys(groupedData[formName])">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <thead>
        <tr>
          <!-- Display the table headers only for the first row -->
          <ng-container *ngIf="isFirstRow(userEmail)">
            <th *ngFor="let formData of groupedData[formName][userEmail]">
              {{ formData.field.fieldLabel }}
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr>
          <ng-container *ngFor="let formData of groupedData[formName][userEmail]">
            <td>{{ formData.value }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>

    </div>
  </div>
</div>

