<!-- <div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
    </header>
  </div>

  <div *ngFor="let userFormDataGroup of formDataByUsernameEmailAndForm">
    
    <h2>{{ userFormDataGroup.usernameEmailKey.split('_')[0] }}</h2>
    <table>
      <thead>
        <tr>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ userFormDataGroup.usernameEmailKey.split('_')[1] }} </td>
        </tr>
      </tbody>
    </table>
    <ul>
      <ng-container *ngFor="let formDataGroup of userFormDataGroup.formDataGroups">
        <li>
          <h3>{{ formDataGroup.form?.formName }} </h3>
          <ul>
            <ng-container *ngFor="let userFormData of formDataGroup.users">
              <li *ngFor="let fieldData of userFormData.fieldData">
                {{ fieldData.fieldLabel }}: {{ fieldData.value }}
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
   -->
   <div *ngFor="let formName of getObjectKeys(groupedData)">
    
    <h2><a [routerLink]="['/form-details', formName]">FORM: {{ formName }}</a></h2>
    <p>Available Places: {{ formPlacesDisp[formName] }}</p>

    <div *ngFor="let userEmail of getObjectKeys(groupedData[formName])">
      <h3>User Email: {{ userEmail }}</h3>
      <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th>Field Name</th>
            <th>Form Data</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let formData of groupedData[formName][userEmail]">
            <td>{{ formData.field.fieldName }}</td>
            <td>{{ formData.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  