<!-- <div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
    </header>
  </div>

  <div *ngFor="let userFormDataGroup of formDataByUsernameEmailAndForm">
    
    <h2>{{ userFormDataGroup.usernameEmailKey.split('_')[0] }}</h2>
    <table>
      <thead>
        <tr>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ userFormDataGroup.usernameEmailKey.split('_')[1] }} </td>
        </tr>
      </tbody>
    </table>
    <ul>
      <ng-container *ngFor="let formDataGroup of userFormDataGroup.formDataGroups">
        <li>
          <h3>{{ formDataGroup.form?.formName }} </h3>
          <ul>
            <ng-container *ngFor="let userFormData of formDataGroup.users">
              <li *ngFor="let fieldData of userFormData.fieldData">
                {{ fieldData.fieldLabel }}: {{ fieldData.value }}
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
   -->
   <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>DataTables</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
   <div *ngFor="let formName of getObjectKeys(groupedData)">
    
    <h2><a [routerLink]="['/form-details', formName]">FORM: {{ formName }}</a></h2>
    <p>Available Places: {{ formPlacesDisp[formName] }}</p>

    <div *ngFor="let userEmail of getObjectKeys(groupedData[formName])">
      <h3>User Email: {{ userEmail }}</h3>
      <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
        
        <thead class="table-dark">
          <tr role="row">
            <th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Field Name: activate to sort column descending">Field Name</th>
            <th>Form Data</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let formData of groupedData[formName][userEmail]">
            <td>{{ formData.field.fieldName }}</td>
            <td>{{ formData.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  